body{

    margin: 0;
    padding: 0;

    max-width: 100%;
    overflow-x: hidden;

}

main{

    display: flex;
    flex-direction: column;

}

.main-content-content{

    padding-left: 52px;
}

.menu-items{

    display: flex;
    flex-direction: row;

    column-gap: 29px;

}

.add-items, .view-offers{

    margin-bottom: 34px;
}

.add-items, .view-offers, .view-items, .view-favorites{

    width: 148px;
    height: 179px;
    left: 1505px;
    top: 642px;

    border-radius: 5px;

    display: flex;
    flex-direction: row;

    cursor: pointer;
    



} 

.add-items, .view-offers, .view-items, .view-favorites{

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

}

.add-items{

    background: #FF4A4A;


}

.view-offers{

    background: #32CCFF;


}

.view-items{

    background: #FF90CA;


}

.view-favorites{

    background: #FFB93D;


}

.add-items:hover{

    transform:scale(1.1);
    

}

.view-offers:hover{

    transform:scale(1.1);
    

}

.view-favorites:hover{

    transform:scale(1.1);
    

}

.view-items:hover{

    transform:scale(1.1);
    

}



.dot{

    box-sizing: border-box;
    width: 112px;
    height: 106px;
    background-color: #FFFFFF;

    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-icon-img{

    width: 74px;
    height: 72px;

}

.menu-items-text{

    height: 0px;
    left: 1361px;
    top: 792px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    /* identical to box height */

    color: #FFFFFF;
}

.distance-toggles{

    display: flex;
    flex-direction: row;
    column-gap: 32px;

    float: right;
    padding-right: 58px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: white;

    cursor: pointer;

    


}

.distance-toggles-500m, .distance-toggles-1km, .distance-toggles-5km, .distance-toggles-10km, .distance-toggles-50km {

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    
    width: 108px;
    height: 28px;

    
    background: #D9D9D9;
    border-radius: 10px;

}

.distance-toggles-50km{

    background: #2BC48A;
}

.item-cards-container, .reccomended-item-cards-container{

    width: 1341px;
    height: 346px;

    margin-top: 80px;
    
    background: #FFFFFF;
    border: 1px solid #DDD9D9;



}

.reccomended-item-cards-container{

    margin-top: 39px;
    margin-bottom: 100px;
}

.item-container{

    display: flex;
    flex-direction: row;

    padding-bottom: 70px;
}



.item-checkbox{

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    background-color: #E4E2E2;
    border: none;
}

.checkmark-icon-img{

    width: 83px;
    height: 83px;
}

.item-card-img{

    width: 282px;
    height: 261px;

    padding-bottom: 24px;

    cursor: pointer;
}

.item-card-details, .item-checkbox{

    width: 281px;
    height: 346px;

}

.item-card-details{

    border: 1px solid #E4E2E2;


}

.item-card-title{

    width: 259px;
    height: 0px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    padding-bottom: 31px;
    

    margin: 0;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
}

.item-card-text{

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
    
}

.select-items-btn{

    width: 100%;
    height: 72px;

    position: fixed;
    bottom: 0%;
    margin-top: 10px;

    background: #2BC48A;
    border: none;
    border-radius: 5px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}

.seller-rating{

    display: flex;
    flex-direction: row;

    padding-bottom: 14px;


    align-items: center;
}

.seller-rating-text{

    width: 88px;
    height: 17px;
    left: 310px;
    top: 1498px;

    margin: 0;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    color: #000000;
}

.star-icon{

    width: 13px;
    height: 13px;
    left: 402px;
    top: 1500px;
}

.seller-distance{

    width: 67px;
    height: 15px;
    left: 508px;
    top: 1518px;
    margin: 0;

    float: right;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    /* identical to box height */

    color: #DDD9D9;
}






