body{

    margin: 0;
    padding: 0;

    max-width: 100%;
    overflow-x: hidden;

}

.navbar-box{

    width: 100%vw;
    height: 114px;
    left: -1px;
    top: 0px;

    background: #1F0F53;

    display: flex;
    flex-direction: row;

}

.bartr-logo{

    width: 115px;
    height: 84px;
    padding-left: 13px;
    padding-top: 9px;

    cursor: pointer;

}

.search-bar{

    display: flex;
    flex-direction: row;
}

.search-box{

    width: 1204px;
    height: 47px;
    margin-top: 27px;
    margin-left: 207px;
    

    background: #FFFFFF;
    border-radius: 5px;
}

.search-icon-container{

    width: 59px;
    height: 54px;
    margin-top: 27px;

    display: flex;
    justify-content: center;
    align-items: center;
    background: #FF5DB2;

    cursor: pointer;


}

.search-icon{

    width: 27px;
    height: 27px;
    left: 1529px;
    top: 37px;
    
    

}

.signin-icon{

    width: 48px;
    height: 49px;
    border-radius: 50%;

    cursor: pointer;

}

.notification-icon{

    width: 23px;
    height: 31px;
    left: 1849px;
    top: 27px;

    cursor: pointer;
}

.navbar-icons{

    display: flex;
    flex-direction: row;

    padding-left: 100px;
    padding-top: 27px;
    column-gap: 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;



}

.signin-icon-container, .notification-icon-container{

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    cursor: pointer;
}

main{

    display: flex;
    flex-direction: row;



}

.main-content-content{

    padding-left: 52px;
}

.left-margin-box{

    position:relative; 
    left:0;
}

.right-margin-box{

    position:relative; 
    right:0;
}

.left-margin-box, .right-margin-box{

    width: 324px;
    height: 3327px;

    background: #F1F0F0;


}


.hero-img{

    width: 1460px;
    height: 215px;
    left: 230px;
    top: 114px;

}

.card-header, .barter-card-header, .reccomended-card-header{

    display: flex;
    flex-direction: row;

    column-gap: 2px;

}

.card-header-title, .barter-card-header-title, .reccomended-card-header-title{

    width: 178px;
    height: 29px;
    left: 285px;
    top: 368px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    /* identical to box height */

    color: #000000;
}

.card-header-seeAll, .barter-card-header-seeAll, .reccomended-card-header-seeAll{

    width: 100px;
    height: 24px;
    left: 489px;
    top: 369px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #DDD9D9;


}

.barter-card-header, .reccomended-card-header{

    padding-top: 68px;
    
}

.barter-card-header-title{

    width: 193px;
}

.reccomended-card-header-title{

    width: 243px
}

.card-content{

    display: flex;
    flex-direction: row;

    align-items: center;

    column-gap: 90px;
}

.card-content-title{

    width: 66px;
    height: 18px;
    left: 321px;
    top: 577px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;

    color: #232121;
}

.category-icon{

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.submenu-container{

    display: flex;
    flex-direction: row;

    column-gap: 30px;
}

.donate-img{

    width: 654px;
    height: 393px;
    left: 288px;
    top: 642px;

    border-radius: 5px;


}

.sendy-img{

    width: 316px;
    height: 393px;
    left: 982px;
    top: 642px;


    border-radius: 5px;
}

.menu-items{

    display: flex;
    flex-direction: row;

    column-gap: 29px;

}

.add-items, .view-offers{

    margin-bottom: 34px;
}

.add-items, .view-offers, .view-items, .view-favorites{

    width: 148px;
    height: 179px;
    left: 1505px;
    top: 642px;

    border-radius: 5px;

    display: flex;
    flex-direction: row;

    cursor: pointer;
    



} 

.add-items, .view-offers, .view-items, .view-favorites{

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

}

.add-items{

    background: #FF4A4A;


}

.view-offers{

    background: #32CCFF;


}

.view-items{

    background: #FF90CA;


}

.view-favorites{

    background: #FFB93D;


}

.add-items:hover{

    transform:scale(1.1);
    

}

.view-offers:hover{

    transform:scale(1.1);
    

}

.view-favorites:hover{

    transform:scale(1.1);
    

}

.view-items:hover{

    transform:scale(1.1);
    

}



.dot{

    box-sizing: border-box;
    width: 112px;
    height: 106px;
    background-color: #FFFFFF;

    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-icon-img{

    width: 74px;
    height: 72px;

}

.menu-items-text{

    height: 0px;
    left: 1361px;
    top: 792px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    /* identical to box height */

    color: #FFFFFF;
}

.distance-toggles{

    display: flex;
    flex-direction: row;
    column-gap: 32px;

    float: right;
    padding-right: 58px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: white;

    cursor: pointer;

    


}

.distance-toggles-500m, .distance-toggles-1km, .distance-toggles-5km, .distance-toggles-10km, .distance-toggles-50km {

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    
    width: 108px;
    height: 28px;

    
    background: #D9D9D9;
    border-radius: 10px;

}

.distance-toggles-50km{

    background: #2BC48A;
}

.item-cards-container, .reccomended-item-cards-container{

    width: 754px;
    height: 211px;
    
    background: #FFFFFF;
    border: 1px solid #DDD9D9;
    border-radius: 5px;


}

.reccomended-item-cards-container{

    margin-top: 39px;
    /* margin-bottom: 100px; */
}

.item-card-img{

    width: 158px;
    height: 144px;

    border-radius: 5px 5px 0px 0px;

    cursor: pointer;
}

.item-card{

    width: 158px;
    height: 211px;

    margin-right: 38px;

    background: #FFFFFF;
    border: 1px solid #E4E2E2;
    border-radius: 5px;
}

.item-card-title{

    width: 129px;
    height: 17px;

    padding-bottom: 31px;
    

    margin: 0;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;

    color: #000000;
}

.item-card-text{

    position: relative;
    padding-left: 8px;
    
    
}

.seller-rating{

    display: flex;
    flex-direction: row;

    padding-bottom: 14px;


    align-items: center;
}

.seller-rating-text{

    width: 88px;
    height: 17px;
    left: 310px;
    top: 1498px;

    margin: 0;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    color: #000000;
}

.star-icon{

    width: 13px;
    height: 13px;
    left: 402px;
    top: 1500px;
}

.seller-distance{

    width: 67px;
    height: 15px;
    left: 508px;
    top: 1518px;
    margin: 0;

    float: right;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    /* identical to box height */

    color: #DDD9D9;
}

footer{

    position:relative; 
    bottom:0;
}

.footer-top{

    width: 1920px;
    height: 392px;
    left: 0px;
    top: 2123px;

    background: #1F0F53;
}

.footer-bottom{

    width: 1920px;
    height: 118px;
    left: 0px;
    top: 2483px;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    background: #0D0622;
}

.sitemap-container{

    display: flex;
    flex-direction: row;
    column-gap: 10px;

    padding-top: 30px;

    justify-content: center;
    align-items: center;
}

.sitemap-title{

    width: 189px;
    height: 29px;
    left: 316px;
    top: 2170px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;

    /* identical to box height */

    color: #FFFFFF;


}

.sitemap-text{

    width: 181px;
    height: 19px;
    left: 316px;
    top: 2213px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;

    color: rgba(255, 255, 255, 0.79);
}

.sitemap-text > img{

    width: 14px;
    height: 14px;
    left: 1402px;
    top: 2265px;
}

.footer-bottom > h1{

    width: 509px;
    height: 29px;
    left: 711px;
    top: 2527px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    /* identical to box height */

    color: #FFFFFF;


}

.items-grid{

    display: flex;
    flex-direction: column;

    row-gap: 54px;

    


}

.page-title{

    width: 308px;
    height: 77px;

    margin-top: 78px;

    margin-bottom: 49px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;

    color: #000000;
}

.seller-desc-container{

    display: flex;
    flex-direction: column;

    width: 313px;
    height: 674px;
 

    background: #FFFFFF;
    border: 1px solid #DDD9D9;
    border-radius: 5px;

    padding-left: 24px;

    
}

.seller-info{

    padding-bottom: 87px;
}

.seller-img-container{

    display: flex;
    flex-direction: column;

    align-items: center;

    padding-top: 22px;

}

.seller-img{

    width: 169px;
    height: 155px;

    border-radius: 50%;

}

.barters-info-label, .barters-info-label-seller{

    width: 92px;
    height: 16px;
    left: 1366px;
    top: 545px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

    color: #000000;
}

.barters-info-label-seller{

    width: 130px;
}
.barter-info, .barter-info-location{

    display: flex;
    flex-direction: row;
    height: 19px;

    column-gap: 5px;
    padding-bottom: 12px;


    

    align-items: center;
}

.barter-info-content{

    width: 216px;
    height: 19px;
    left: 1366px;
    top: 515px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

.star-icon{

    width: 14px;
    height: 15px;
    left: 1516px;
    top: 544px;

}

.offer-card{

    display: flex;
    flex-direction: row;

    width: 1301px;
    height: 674px;

    background: #FFFFFF;
    border: 1px solid #DDD9D9;
    border-radius: 5px;
}

.header-and-card{

    display: flex;
    flex-direction: column;

    width: 100%;

    padding-left: 20px;
}

.offer-rhs-content{

    display: flex;
    flex-direction: column;

    padding-right: 25px;

    width: 100%;
}

.offer-button-container{

    display: flex;
    flex-direction: row;

    justify-content: end;
    padding-top: 35px;
    padding-right: 10px;

    width: 100%;

    column-gap: 25px;
}

.offer-btn{


    width: 172px;
    height: 43px;

    background: #2BC48A;
    border-radius: 5px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;

    border: none;
}

#reject-btn{

    background: #FF0000;
}






